*{
    box-sizing: border-box;
    text-align: center;
    background-color: #777;
    width: 960px;
    /* margin: 0px 40px 0px 40px; */
}

body{
    font-family: 'Ariel', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#header,#nav,
#section, #h123,
#p, #aside,
#footer{
  padding: 20px;
  margin-bottom: 20px;
  color: #777;
  background: #ccc;
  margin: 15px 40px 15px 40px;
}


#article{
  padding: 20px;
  margin-bottom: 20px;
  color: #ccc;
  background: #777;
  width: 480px;
  /* line-height: 200px; */
}

#header, #nav, #footer{
    height: 70px;
}

#h123, #p{
    width:100px;
}

#section{
    float: left;
    width: 520px;
    margin-right: 10px;
    line-height: 40px;
}

#aside{
    margin-left: 0px;
    height: 385px;
    float: left;
    width: 350px;
}

#footer{
    clear: both;
}

