*{
    box-sizing: border-box;
    text-align: center;
    background-color: #777;
}

body{
    font-family: 'Ariel', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#header,#nav,
#section, #h123, 
#p, #aside,
#footer{
  padding: 20px;
  margin-bottom: 20px;
  color: #777;
  background: #ccc;
  margin: 15px 40px 15px 40px;    
}

#article{
  padding: 20px;
  margin-bottom: 20px;
  color: #ccc;
  background: #777;
}

#header, #nav, #footer{
    height: 70px;
}

#section{
    float: left;
    width: 50%;
    margin-right: 10px;
}

#aside{
    margin-left: 0px;
    height: 297px;
    float: left;
    width: 43.2%;
}

#footer{
    clear: both;
}

