*{
    box-sizing: border-box;
    text-align: center;
    background-color: #333;
    margin: 0px 40px 0px 40px;
}

#header,#nav,
#section, #h123, 
#p, #aside,
#footer{
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

#article{
  padding: 20px;
  margin-bottom: 20px;
  color: #ccc;
  background: #333;
}

#header, #nav, #footer{
    height: 70px;
}

#section{
    float: left;
    width: 50%;
}

#aside{
    margin-left: 10px;
    height: 292px;
    float: left;
    width: 39%;
}

#footer{
    clear: both;
}

